<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Seabass Tasks</title>
  <style type="text/css" media="screen">
    body {
      font-family: helvetica, arial, sans-serif;
      color: #3D3937;
    }
    #logo {
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
    
  </style>
</head>
<body>
  <h1>Seabass Tasks</h1>
  <p>
    <a href="/auth/google">Log In With Google</a>
  </p>
  <img src="images/logo.png" id="logo">
</body>
</html>
